@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../styles/open-sans-v28-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../styles/open-sans-v28-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../styles/open-sans-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../styles/open-sans-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../styles/open-sans-v28-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../styles/open-sans-v28-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: white;
}

main {
  background-color: rgb(45, 111, 128);
  width: clamp(320px, 100vw, 1024px);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1.5rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.75rem;
  }

  .form-group_data, .form-group_radio, .form-group_checkbox {
    display: flex;
    flex-direction: column;
    
  }

  .form-group_data {
    label {
      display: flex;
      flex-direction: column;
    }

  }
}

input[type="text"], input[type="password"], input[type="email"]{
  font-family: inherit; 
  font-size: inherit;
  line-height: inherit; 
  margin: 0;
}

.form-label {
  display: inline-block;
  width: clamp(240px, 45%, 360px);
  margin-bottom: 0.5rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #bdbdbd;
  border-radius: 0.5rem;
  input {
    border: 1px solid #bdbdbd67;
    border-radius: 0.5rem;
    padding: 0.1rem;
  }

}

#button {
  width: 160px;
  border-radius: 1rem;
  padding: 0.7rem;
  border: none;
  margin-top: 1.5rem;
  color: white;
  font-size: inherit;
  background-color: rgb(35, 175, 164);
  transition: all 500ms ease;
  &:hover {
    background-color: rgb(35, 150, 140);
  }
}